<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html:charset=utf.8"/>
    <title>PAGE1</title>
</head>

<body>
<h1>F_Name L_Name</h1>
<img src="static/image.png">
<p>text text text text text text text text text text text text text text text text.</p>
<br>text text text text text text text <strong>bold text</strong> text text text text text.</br>
<div>text text text text text text text <em>italic text</em> text text text text text text.</div>
<p>text text text text text text text text
    <del>strikethrough text</del>
    text text text text text.
</p>
<p>text text text text text text text text text
    <mark>marked text</mark>
    text text text text text text.
</p>
<p>text text text text text <a href="http://127.0.0.1:5000/page2">LINK</a> text text text text text text text text text
    text.</p>
</body>

</html>